body {
    background-image: url('src/popup_bg.png');
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none; 
    color: inherit;      
    outline: none;
}

.risklevel {
    width: 100%;
}

.container.active {
    display: block;
    min-width: 300px;
    max-width: 400px;
    margin: 0 20 20 20;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    height: 450px;
}

.container {
    display: none;
    height: 480px;
}

.tab-button.active {
    font-weight: bold;
}

.level {
    width: 70%;
    margin: 0 auto;
}

#toggleButton{
    width: 20%;
    float: right;
    height: 30px;
    background-color: transparent;
    border: #ed9c3f 1px solid;
    color: #ed9c3f;
    border-radius: 5px;
    cursor: pointer;
}

.title {
    text-align: left;
    font-family: 'playfair display', serif;
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
    display: inline-block;
    text-decoration: none;
    position: relative;
    margin: 0;
}

.description {
    font-family: 'playfair display', serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin: 10px 0;
}

.middle-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
    align-items: end;
}

.column-all {
    background-color: #404040;
    padding: 0px 7px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    color: #fff;
    justify-content: flex-end;
    transition: transform 0.2s, background-color 0.3s;
}

.gradient-bg {
    background: linear-gradient(to bottom, #5DE0E6,#004AAD);
    transform: scale(1.05);
}

.column-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-align: left;
    margin: -8px 0;
    padding: -8px 0;
}

.column-descriptiom {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0;
}

.tabs{
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 -5px 10px -5px #191919;
    background-color: #191919;
}

.tab-button{
    display: inline-block;
    width: 33%;
    height: 20px;
    margin: 10px;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.tab-button{
    background-color: #2d2d2d;
    color: #d9d9d9;
}

#website-button {
    background-color: transparent;
    color: #ed9c3f;
    border-radius: 5px;
    border: #ed9c3f 1px solid;
    transition: background-color 0.3s;
    cursor: pointer;
}

#website-button:hover {
    background-color: #ed9c3f;
    color: #fff;
}

.title-container {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.shadow-hunter {
    font-weight: bold;
    font-style: italic;
    color: white;
    margin-right: 5px; 
}

.for-chrome {
    font-weight: normal;
    color: #d9d9d9;
}

.logo img {
    width: 200px; 
    height: auto;
    margin-left: 45px;
}

.introduction p {
    text-align: center;
    margin-bottom: 20px;
    line-height: 2;
    font-size: 15px;
}

.column-description:hover {
    text-decoration: underline;
}

.no-click {
    pointer-events: none;
    cursor: not-allowed !important;
    opacity: 0.5;
}

@keyframes breathe {
    0%   { opacity: 0.5;}
    50%  { opacity: 1;}
    100% { opacity: 0.5;}
}

#riskLevel {
    animation: breathe 3.5s infinite;
    
}

.risklevel {
    position: relative;
    overflow: hidden;
}

.level {
    animation: reveal 5s forwards;
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
}

@keyframes reveal {
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.col-end, .col-head{
    cursor: pointer;
}